<launch>
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find test_moveit_config)/default_warehouse_mongo_db" />
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <!--<include file="$(find test_moveit_config)/launch/move_group.launch" output="screen">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="chomp"/>
  </include>-->

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find test_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find test_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>